<nav class="navbar fixed-top navbar-expand-md navbar-dark indigo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/clientes']">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/hospedagens']">Hospedagem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/produtos']">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/quartos']">Quartos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/funcionarios']">Funcionários</a>
        </li>       
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/hoteis']">Hotel</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['']">Sair</a>
        </li>                          
      </ul>
    </div>


  </nav>