<div> 
    <a class="btn-floating btn-sm blue waves-effect waves-light" (click)="novo();">
        <i class="fa fa-plus-circle"> Novo Quarto</i>
    </a>

</div>
<table mdbTable striped="true">
    <thead class="black white-text">
    <tr>
        <th>#</th>
        <th>Numero</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th>IdHotel</th>
        <th>Tipo</th>    
        <th></th>
        <th></th>
    </tr>
    </thead>
 
    <tbody>
        <tr *ngFor="let quarto of quartos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ quarto.numero }}</td>
            <td>{{quarto.preco}}</td> 
            <td>{{quarto.descricao}}</td>                    
            <td>{{ quarto.idHotel }}</td>
            <td>{{ quarto.tipo }}</td>
            <td>
                <a class="btn-floating btn-sm yellow waves-effect waves-light" (click)="editar(quarto.numero, quarto.idHotel);">
                    <i class="fa fa-pencil"> Editar</i> 
                </a>  
            </td>         
            <td>
                <a class="btn-floating btn-sm red waves-effect waves-light" (click)="excluir(quarto.numero,quarto.idHotel, i);">
                    <i class="fa fa-minus-circle"> Excluir</i>
                </a>
                
        </tr>
    </tbody>
    
</table>